<?php

require_once(__DIR__.'/vendor/autoload.php');

use Zvive\Fixer\Finders\LaravelProjectFinder;
use Zvive\Fixer\Rulesets\ZviveRuleset;
use Zvive\Fixer\SharedConfig;

$finder = LaravelProjectFinder::create(__DIR__);

return SharedConfig::create($finder, new ZviveRuleset());
